.clients-header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--color-b);  
}

.clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    fill: #AFB1B8;
}

.clients-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    // margin-right: 30px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    @media (min-width: 480px) {
        flex-basis: calc(100% / 2 - 15px);
    }

    @media (min-width: 768px) {
        flex-basis: calc(75% / 3 - 15px);
    }

    @media (min-width: 1200px) {
        flex-basis: auto;
    }
}

.clients-list__item:hover {
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    cursor: pointer;
}

.clients-list__item:last-child {
    margin-right: 0;
}

.clients-list__svg {
    fill: currentColor;
      
}
