.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.main-container {
    min-width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
} 
