.container {
    max-width: 480px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;  
    }
}

// .main-container {
//     width: 100%;
// }

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto; 

    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        margin: 0 auto;   
    }
} 
