.description-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.description-list__item {
    width: 270px;
    display: inline-block;
    flex-basis: 100%;
    border-radius: 4px;
    
    @media (min-width: 768px) {
        flex-basis: calc(100% / 2 - 15px);
    }

    @media (min-width: 1200px) {
        flex-basis: auto;
    }
}

.description-list__item:nth-child(4n) {
    margin-right: 0;
}

.description-list__block {
    background: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.description-list__title {
    margin-top: 30px;
    line-height: var(--line-height);
    text-transform: uppercase;
    color: var(--color-b);
    font-size: var(--font-s);
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}

.description-list__text {
    line-height: 1.714;
    color: var(--color-grey);
    margin-top: 10px;
}
