.mobile-menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.header__open-menu {
    position: relative;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;

    @media (min-width: 768px) {
        display: none;  
    }
}

.header-container__mobile-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    color: black;
    z-index: inherit;

    @media (min-width: 768px) {
        display: none;
    }
}

.header__icon-burger {
    cursor: pointer;
    fill: currentColor
}

.header__icon-burger:hover {
    fill: #2196F3;
}

.header__icon-close {
        display: block;
        width: 19px;
        height: 19px;
        opacity: 0;
        fill: currentColor;
}

.header__icon-close .is-open {
    opacity: 1;
}

.mobile-menu__link {
    display: block;
    margin: 32px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-b);
    text-decoration: none; 

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:first-child {
    margin-top: 0;
}

.mobile-menu__social-list {
    display: flex;
    margin-top: 64px;
}

.mobile-menu__contacts {
    margin-top: auto;
}

.mobile-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.mobile-menu__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-top: 32px;
    display: block;
}

.mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.mobile-menu__social-item:not(:last-child):after {
    content: "";
    height: 22px;
    width: 0px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin: 0 10px;
}






