.portfolio-container {

    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
    }
}

.portfolio-container__item {
    background: var(--color-white);
    max-width: 450px; 
    margin-bottom: 30px;

    @media(min-width: 768px) {
        max-width: 354px;
    }
    
    @media(min-width: 1200px) {
        max-width: 370px;
    }

}

.portfolio-container__item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-container__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
} 

.portfolio-container__link {
    display: block;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio-container__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);

}

.container-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 450px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);

    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @media(min-width: 768px) {
        max-width: 354px;
    }
    
    @media(min-width: 1200px) {
        width: 370px;
    }
}

.portfolio-container__item:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.overlay-text {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--color-white);
    width: 450px;
    height: 168px;
    text-align: center;
    padding: 64px 24px;

    @media(min-width: 768px) {
        max-width: 354px;
    }
    
    @media(min-width: 1200px) {
        width: 370px;
    }
}

.portfolio-content {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: var(--color-white);
    padding: 20px 24px;
    flex-grow: 1;
}

.portfolio-content__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-b);
}

.portfolio-content__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;

    margin-top: 4px;
    color: var(--color-grey);
}

.portfolio-container__img {
    height: 294px;
    object-fit: cover;
    object-position: center;
}

