html {
    box-sizing: border-box;
}
  
 *,
*::before,
*::after {
     box-sizing: inherit;
}
  
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-white);
    color: var(--color-b);
    font-size: var(--font-s);
    letter-spacing: var(--letter-spacing);
}
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    // display: block;
    max-width: 100%;
    height: auto;
}







