:root {
    --main-bg-color: #2196F3;
    --font-s: 14px;
    --color-b: #212121;
    --line-height: 1.14;
    --letter-spacing: 0.03em;
    --color-white: #FFFFFF;
    --color-grey: #757575;
    --bg-color: #2F303A;
}